@page
@model IndexModel

<h1>Dashboard</h1>

<div class="dashbordCard">
    <div class="dashbordCardTitle">Nächste Meilensteine</div>
    <div class="dashbordCardContent"></div>
</div>
<div class="dashbordCard">
    <div class="dashbordCardTitle">Workload</div>
    <div class="dashbordCardContent"></div>
</div>
