<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEOM - Self Employed Order Management</title>
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Isolated CSS from ASP Razor Pages -->
    <link rel="stylesheet" href="~/Seom.Webapp.styles.css" />
    <script src="~/js/site.js"></script>
    @RenderSection("head", required: false)
</head>

<body>
    <header>
        <div class="navContent">
            <div class="navImage">
                <img src="~/logo_background.png" style="height:100px">
            </div>
            <div class="navHeadline">
                Taurus Pioneering Order Management
            </div>
        </div>
        <div class="headerNavButtons">
            <div>Login</div>
        </div>
    </header>
    <main>
        <div class="leftnav">
            <div class="leftnavGroup">
                <div class="leftnavGroupHeader">
                    <div><a asp-page="/Index">
                            <i class="fa-solid fa-gauge"></i>
                            Dashboard</a></div>
                </div>
            </div>
            <div class="leftnavGroup">
                <div class="leftnavGroupHeader">
                    <i class="fa-solid fa-diagram-project"></i>
                    Projekte
                </div>
                <div class="leftnavGroupContent">
                    <div><a asp-page="/Projects/Index">Projekte verwalten</a></div>
                    <div><a asp-page="/Milestones/Index">Meilensteine verwalten</a></div>
                    <div><a asp-page="/Tasks/Index">Tasks verwalten</a></div>
                    <div><a asp-page="/Timesheet/Index">Zeitaufzeichnung</a></div>
                </div>
            </div>
            <div class="leftnavGroup">
                <div class="leftnavGroupHeader">
                    <div>
                        <a asp-page="/Calendar/Index" asp-route-year="@DateTime.UtcNow.Year" asp-route-month="@DateTime.UtcNow.Month">
                            <i class="fa-solid fa-calendar-check"></i>
                            Kalender</a></div>
                </div>
            </div>
        </div>
        <div class="mainContent">
            @RenderBody()
        </div>
    </main>
</body>

</html>