@page
@model Seom.Webapp.Pages.Milestones.IndexModel
@{
}

<form method="post">
    <select class="form-select">
        <option>Projekt 1</option>
        <option>Projekt 2</option>
        <option>Projekt 3</option>
    </select>
</form>

<div class="milestoneCard">
    <div class="milestoneCardTitle">Meilenstein Name</div>
    <div class="milestoneCardContent">Task 1, Task 2, ....</div>
</div>
<div class="milestoneCard">
    <div class="milestoneCardTitle">Meilenstein Name</div>
    <div class="milestoneCardContent">Task 1, Task 2, ....</div>
</div>
<div class="milestoneCard">
    <div class="milestoneCardTitle">Meilenstein Name</div>
    <div class="milestoneCardContent">Task 1, Task 2, ....</div>
</div>

