.submitCell {
    display: flex;
    align-items:center;
    gap:0.5rem;
}

.projectSelectForm {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.projectSelectFormSelector {
    flex: 0 1 20em;
}