.validationErrors {
    background-color: hsl(52, 100%, 90%);
    padding: 0.5rem;
}

    .validationErrors ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.datatable {
    margin-bottom: 0.5rem;
    width: 100%;
}

    .datatable td {
        padding: 0;
        margin: 0;
        vertical-align: top;
    }
